/* Style inputs, select elements and textareas */
input[type = text], select, textarea
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
}

/* Style the label to display next to the inputs */
label
{
	padding: 12px 12px 12px 0;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

/* Style the submit button */
input[type = button]
{
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
}

/* Style the container */
.container
{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/* Floating column for labels: 25% width */
.col-20
{
	float: left;
	width: 20%;
	margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-80
{
	float: left;
	width: 80%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after
{
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{
	.col-20, .col-80, input[type = button]
	{
		width: 100%;
		margin-top: 6px;
	}
}